# Markdown files
*.md

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.idea

# Test binary files
*.test
*.txt
*.data
*.bin

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Testing files to ignore
*.class
*.log
*.jar
*.zip
bridge_f
essai
database
reports

