# On push or open pull request events, this workflow will run jacotest against the OpenJDK JVM.

name: Jacotest - Hotspot JVM

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**.md'
      - '**.py'
      - '**.txt'
      - '**.yml'
    branches: [ "main" ]
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.py'
      - '**.txt'
      - '**.yml'
    branches: [ "main" ]

jobs:

  build_and_test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@main

    - name: Setup Go
      uses: actions/setup-go@main
      with:
          go-version: '1.25.x'
          cache: true
          cache-dependency-path: "**/go.sum"
          
    - name: Setup Jacotest
      run: |
        cd src
        go get github.com/mattn/go-sqlite3
        go build -o . -v ./...
        cd ..
        pwd
        ./src/jacotest -h

    - name: Setup JDK
      uses: actions/setup-java@main
      with:
        distribution: 'oracle'
        java-version: '21'

    - name: Run Test Cases
      run: |
        java --version
        javac --version
        ./src/jacotest -c -x -M -t 60 -j hotspot 
        ls -l ./reports

    - name: Run Options
      run: |
        ./src/jacotest -r 1 -j hotspot
        ./src/jacotest -r 2 -j hotspot
        ./src/jacotest -z -v -j hotspot

