# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: build_and_test

on:
  push:
    paths-ignore:
      - '*.md'
    branches: [ "main" ]
  pull_request:
    paths-ignore:
      - '*.md'
    branches: [ "main" ]

jobs:

  build_and_test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3

    - name: Setup Go
      uses: actions/setup-go@v3
      with:
          go-version: '1.21.1'
        
    - name: Build Jacotest
      run: |
        cd src
        go get github.com/mattn/go-sqlite3
        go build -o . -v ./...
        cd ..
        pwd
        ./src/jacotest -h

    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'oracle'
        java-version: '17'

    - name: Run Test Cases
      run: |
        which java
        which javac
        ./src/jacotest -x -j openjdk -t 60 
        ls -l ./reports
