# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: build_and_test

on:
  push:
    paths-ignore:
      - '*.md'
      - '*.py'
      - '*.txt'
    branches: [ "main" ]
  pull_request:
    paths-ignore:
      - '*.md'
    branches: [ "main" ]

jobs:

  build_and_test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@main

    - name: Setup Go
      uses: actions/setup-go@main
      with:
          go-version: '1.21.x'
          cache: true
          cache-dependency-path: "**/go.sum"
          
    - name: Build Jacotest
      run: |
        cd src
        go get github.com/mattn/go-sqlite3
        go build -o . -v ./...
        cd ..
        pwd
        ./src/jacotest -h

    - name: Setup JDK
      uses: actions/setup-java@main
      with:
        distribution: 'oracle'
        java-version: '17'

    - name: Run Test Cases
      run: |
        java --version
        javac --version
        ./src/jacotest -c -x -j openjdk -t 60 
        ls -l ./reports
        ./src/jacotest -r 1
        ./src/jacotest -r 2
        ./src/jacotest -z
        ./src/jacotest -M
        
