name: Query Go version on all O/Ses

on:
    
  workflow_dispatch:

jobs:

  run-on-oses:
    strategy:
      matrix:        
        os: [macos-latest, ubuntu-24.04-arm, ubuntu-latest, windows-11-arm, windows-latest]
    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash

    steps:
    - uses: actions/checkout@v4

    - name: Set TEMP and TMP
      run: |
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            export TEMP="C:/actions_temp"
            export TMP="C:/actions_temp"
          else
            export TEMP="/tmp/actions_temp"
            export TMP="/tmp/actions_temp"
          fi
          mkdir -p "$TEMP"
          echo "TEMP=$TEMP"
          echo "TMP=$TMP"

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 'stable'

    - name: Announce Go Version
      run: |
          go version | tee version-${{ matrix.os }}.txt

    - name: Upload OS-specific version file
      uses: actions/upload-artifact@v4
      with:
        name: version-${{ matrix.os }}
        path: version-${{ matrix.os }}.txt
        retention-days: 1

  process-collection:
    needs: run-on-oses
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Download all version artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: version-*
          path: collected-results/
      
      - name: List downloaded files
        run: |
          echo "Downloaded files:"
          find collected-results -type f
      
      - name: Concatenate combined version results
        run: |
          export LIST_ALL="results_list.txt"
          touch $LIST_ALL
          for os_dir in collected-results/version-*; do
            os_name=$(basename "$os_dir")
            os_name=${os_name#version-}
            cat "$os_dir"/*.txt  | sed 's/^/'$os_name' /' >> $LIST_ALL
          done
          
      - name: Produce combined CSV
        continue-on-error: true
        run: |
          export LIST_ALL="results_list.txt"
          cat $LIST_ALL | python3 py/goVersion.py

