# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

### Not yet:          os: [ubuntu-latest, windows-latest, macos-latest]

name: Run Jacotest tests.MINI

on:
  # Run only when manually triggered.
  workflow_dispatch:  

jobs:

  build_and_test:
    strategy:
      matrix:
        
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@main

    - name: Setup Go
      uses: actions/setup-go@main
      with:
          go-version: '1.23.6'
          cache: true
          cache-dependency-path: "**/go.sum"
          
    - name: Build Jacotest
      run: |
        echo $PATH
        export PATH=$HOME/go/bin:$PATH
        cd src
        go get github.com/mattn/go-sqlite3
        go install -v ./...
        cd ..
        pwd
        jacotest -h

    - name: Build Jacobin
      run: |
        git clone https://github.com/platypusguy/jacobin
        cd jacobin/src
        go install -v ./...
        jacobin --version
        
    - name: Setup JDK
      uses: actions/setup-java@main
      with:
        distribution: 'oracle'
        java-version: '21'

    - name: Run Test Cases
      run: |
        java --version
        javac --version
        rm -rf tests
        mv tests.MINI tests
        jacotest -c -x || true
        ls -l ./logs

